@import '~antd/dist/antd.css';

body{
    overflow: hidden;
}

/* default */
img{
   border-radius: 50%;
   border: 5px solid #fff
}

.gr {
   color: #2A3633 !important;
   margin-bottom: 15px;
}


/* Registration page */
#Registration p {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
}
#Registration p a {
    padding: 15px;
    color: #eee;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: #337180;
    box-shadow: 1px 1px 2px #555
}

/* main page */

#Main h1 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
}


#Main .teacher_sec{
    background: #2F5B78;
    height: 650px;
}

#Main .student_sec{
    background: #2A3633;
    height: 650px;
}

/* teacher sign in */
.form{
    padding-top: 20px;
    text-align: center;
    background: #aaa;
    height: 650px;
}

.form h1{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 0;

}

.form input{
    margin-top: 10px;
}

.form img{
    box-shadow: 4px 4px 9px #888;
    margin-bottom: 20px;
    width: 125px;
}

.form button {
    margin-top: 20px;
}