@import '~antd/dist/antd.css';

body{
    overflow: hidden;
}

/* default */
img{
   border-radius: 50%;
   border: 5px solid #fff
}

.gr {
   color: #2A3633 !important;
   margin-bottom: 15px;
}

.danger{
    background: tomato;
    color: white;
    margin-bottom: 0;
}

#Home{
    background-image: linear-gradient(
        rgba(99, 71, 226, 0.349),
        rgba(0, 0, 0, 0.8)
      ),
    url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UD7CEz6/videoblocks-empty-high-school-classroom_ssvhzwlpx_thumbnail-full01.png');
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

#Home button {
    text-align: center;
    background:#2F5B78;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 6px 7px 12px#000;
    
}

#Home a{
    color: white;
    font-size: 30px;
}

/* Registration page */
#Registration p.regestration,
#Admin p.regestration{
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
}

#Registration p.admin,
#Admin p.admin {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 0 ;
}

#Registration p a,
#Admin p a
{
    padding: 15px;
    color: #eee;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: #337180;
    box-shadow: 1px 1px 2px #555
}

/* main page */

#Main h1 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
}


#Main .teacher_sec{
    background: #2F5B78;
    height: 650px;
}

#Main .student_sec{
    background: #A3D5E0;
    height: 650px;
}

/* teacher sign in */
.form{
    padding-top: 20px;
    text-align: center;
    background: #aaa;
    height: 650px;
}

.form h1{
    text-align: center;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 0;

}

.form input{
    margin-top: 10px;
}

.form img{
    box-shadow: 4px 4px 9px #888;
    margin-bottom: 15px;
    width: 100px;
}

.form button {
    margin-top: 20px;
}

/* teacher page */
#Teacher,
#Student {
    background: #ddd;
    height: 650px;
}

#Teacher img,
#Student img {
    width: 150px;
    margin-top: 10px;
}

#Teacher button,
#Student button{
    margin: 10px
}

#Teacher p,
#Student p{
    border: 1px solid #2F5B78;
    width: 10%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    color: #333;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center
}

#Student .teacher_sec{
    text-align: center
}

#Admin {
    padding-top: 100px;
    text-align: center;
    background: #ddd;
    height: 650px;
}

#Admin div.admin{
    padding-top: 50px;
}

#Admin button{
    margin-top: 20px;
}
